<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clone Pinterest</title>
    <link rel="stylesheet" href="/lib/bootstrap.min.css" >
   
    <script src="/lib/jquery-3.1.1.slim.min.js" ></script>
    <script src="/lib/tether.min.js" ></script>
    <script src="/lib/bootstrap.min.js" ></script>
    <script> var username = <%-JSON.stringify(username)%> </script>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" > Amazing Vietnam </a>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if(username) { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/home"> Home <span class="sr-only">(current)</span></a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/recent"> Recent pin</a>
                </li>
            </ul>
            <% if(username) { %>
                <form action="/logout" method="get" class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-danger" type="submit" > Logout</button>
                </form>
            <% } else { %>
                <form class="form-inline my-2 my-lg-0" action="/twitter/login">
                    <button class="btn btn-outline-success my-2 my-sm-0  mr-sm-2" type="submit"> Login</button>
                </form>
            <% } %>
        </div>
    </nav>
    <div>
        <%- body %>
    </div>
    <nav class="navbar fixed-bottom navbar-inverse bg-primary">
        <div class="row" style="color:white">
            <div class="col-lg-4">
                Design by Yukixoma
                <br>
                <a href="https://github.com/yukixoma" style="color:white" target="_blank"> 
                    Github  
                </a>                                    
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <div class="text-right">
                    Server: NODEJS
                     <br>      
                    Client: HTML, Bootstrap, Jquery
                         
                </div>
            </div>
        </div>             
    </nav> 
</body>
</html>